.container {
  padding-top: 116px;
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container main {
  margin: 50px 123px;
  display: flex;
  flex-direction: column;
}

.back {
  display: flex;
  color: var(--primary-color);
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  &:hover {
    filter: brightness(0.9);
    transition: 0.15s;
    cursor: pointer;
  }
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  h2 {
    color: var(--primary-text-color);
    font-size: 32px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-height: calc(100vh - 320px);
  overflow-y: auto;
}
.form::-webkit-scrollbar {
  width: 8px;
}

.form::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}
.input {
  display: flex;
  gap: 40px;
}
.textarea {
  border-radius: 10px;
  color: var(--primary-text-color);
  height: 274px;
  width: 100%;
  padding: 19px 16px;
  resize: none;
  border: none;
  outline: none;
  background-color: var(--bg-input-color);
  color: var(--primary-text-color);

 ;
}

.title2 {
  color: var(--gray-600);
}
.markers {
  display: flex;
  align-items: center;
  

  flex-wrap: wrap;

  padding: 20px  20px 12px 20px;
  gap: 24px;
 
  width: 100%;

  border-radius: 8px;
  background: #0d0c0f;
}
.buttons {
  display: flex;
  width: 100%;
  gap: 40px;
  margin-bottom: 50px;
}

.buttonSave {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  background: var(--primary-color);
  border: none;
  font-weight: 700;
  &:hover {
    filter: brightness(0.9);
    transition: 0.15s;
    cursor: pointer;
  }
}
.buttonDelete {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  background: #0d0c0f;
  border: none;
  color: var(--primary-color);
  font-weight: 700;
  &:hover {
    filter: brightness(0.9);
    transition: 0.15s;
    cursor: pointer;
  }
}
