@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #1c1b1e;
  --bg-input-color: #262529;
  --primary-color: #ff859b;
  --secondary-color: #312e38;
  --terceary-color: rgba(255, 133, 155, 0.05);

  --primary-text-color: #f4ede8;
  --secondary-text-color: #948f99;
  --terceary-text-color: #cac4cf;

  --gray-600: #999591;
}

body,
html,
input,
textarea {
  font-family: "Roboto Slab", serif;
}
